In [1]:
import requests
# import json
import pandas as pd

In [2]:
url = 'https://ssd-api.jpl.nasa.gov/fireball.api'
# params = {'date-min': '2000-01-01', 
#           'date-max': '2024-01-01'}
response = requests.get(url)
data = response.json()
data_df = pd.DataFrame(data['data'], columns=data['fields'])
data_df['lat'] = pd.to_numeric(data_df['lat'])
data_df['lon'] = pd.to_numeric(data_df['lon'])
data_df_coords = data_df.copy()
data_df_coords['lat'] = ''
data_df_coords['lon'] = ''

In [3]:
for i in range(len(data_df_coords)):
    if data_df_coords['lat-dir'][i] == 'S':
        data_df_coords['lat'][i] = data_df['lat'][i] * -1
    else:
        data_df_coords['lat'][i] = data_df['lat'][i]
    if data_df_coords['lon-dir'][i] == 'W':
        data_df_coords['lon'][i] = data_df['lon'][i] * -1
    else:
        data_df_coords['lon'][i] = data_df['lon'][i]
data_df_coords.head()

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
0,2024-02-26 11:21:01,3.7,0.13,22.9,N,57.1,E,33.1,31.3
1,2024-02-05 00:32:54,4.6,0.15,-13.8,S,123.7,E,23.0,14.4
2,2023-12-30 21:04:34,21.7,0.6,-63.4,S,79.9,E,37.0,28.3
3,2023-11-21 22:17:29,3.8,0.13,-9.4,S,17.4,E,37.0,18.3
4,2023-10-30 07:22:56,2.6,0.092,-42.9,S,-44.7,W,33.8,17.6

In [4]:
data_df_coords.sample(5)

,date,energy,impact-e,lat,lat-dir,lon,lon-dir,alt,vel
7,2023-10-16 17:14:52,3.0,0.1,-6.5,S,-65.4,W,35.3,19.8
734,2003-05-19 03:38:12,52.1,1.3,NaN,None,NaN,None,None,None
426,2012-02-12 05:25:52,14.0,0.41,-31.7,S,54.9,E,61.0,None
521,2009-05-04 11:39:03,14.0,0.41,36.4,N,-160.4,W,40.7,None
882,1997-11-07 07:46:55,80.0,1.9,-57.3,S,167.2,E,None,None

In [5]:
# data_df_coords = data_df_coords[['lat', 'lon']]
data_df_coords['lat'] = pd.to_numeric(data_df_coords['lat'])
data_df_coords['lon'] = pd.to_numeric(data_df_coords['lon'])
data_df_coords['energy'] = pd.to_numeric(data_df_coords['energy'])
data_df_coords.rename(columns = {'lon': 'lng'}, inplace=True)
data_df_coords.dropna(inplace=True)
data_df_coords.to_json('data.json')